
<%= render 'distant/layouts/sidebar' %>

<div class="content" >
	
	<div class="content-table" >
		<table>
			<thead>
		    <tr>
		      <th>ID</th>
		      <th>ФИО студента</th>
		      <th>email</th>
		      <th>Skype</th>
		      <th>Адрес</th>
		      <th>Телефон</th>
		      <th>Класс</th>
		      <th>Предметы</th>
		      <th></th>
		      <th></th>
		    </tr>
		  </thead>
		   <tbody>
				<% @students.each_with_index do |student, index| %>
				<tr>
   					<th><%= index +1 %></th>
					<td><%= student.full_name %></td>
					<td><%= student.email %></td>
					<th><%= student.skype %></th>
					<td><%= student.address %></td>
					<td><%= student.phone %></td>
					<td><%= student.grade %></td>
					<td class="subject-td"><%= student.subject_titles %></td>
					<td><%= link_to "редактировать", edit_distant_student_path(id: student.id) %></td>
					<td><%= link_to "удалить", distant_student_path(id: student.id, student_ids: @student_ids), method: :delete, data: { confirm: "Вы уверены?" } %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<div class="right-sidebar" >
	<%= form_tag({ controller: "students", action: "filter" }, method: :get) do %>
	  <%= label_tag "Предмет" %>

	  <%= collection_select :subject, :id, @subjects, :id, :title, prompt: "Все" %>
	  	  <br />
	  <%= submit_tag("Найти") %>
	<% end %>

	<%= link_to "Добавить студента", new_distant_student_path, class: "button small" %>
	<%= link_to "Excel", distant_xls_index_path(student_ids: @student_ids),  class: "button small" %>
</div>