
<div class="content" >
	<%= link_to "Добавить студента", new_student_path, class: "button small" %>
	<%= link_to "Excel", xls_index_path(student_ids: @student_ids),  class: "button small" %>
	<table>
		<thead>
	    <tr>
	      <th>ФИО студента</th>
	      <th>email</th>
	      <th>Адрес</th>
	      <th>Телефон</th>
	      <th>Предметы</th>
	    </tr>
	  </thead>
	   <tbody>
			<% @students.each do |student| %>
			<tr>
				<td><%= student.full_name %></td>
				<td><%= student.email %></td>
				<td><%= student.address %></td>
				<td><%= student.phone %></td>
				<td><%= student.subject_titles %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div class="right-sidebar" >
	<%= form_tag({ controller: "students", action: "filter" }, method: :get) do %>
	  <%= collection_select :subject, :id, @subjects, :id, :title, prompt: "Все" %>
	  <%= submit_tag("Проверить") %>
	<% end %>
</div>