
<%= link_to "Отправить задание", controller: :mails, action: :send_task, method: :get %>

<%= form_tag({controller: "mails", action: "receive", method: "post"}, {class: "report_form"} ) do %>
  <%= collection_select :task, :id, @tasks, :id, :title %>
  <%= submit_tag("Проверить") %>
<% end %>

<% unless @task_reports.nil? %>
	<table>
	<thead>
		 <tr>
	      <th>ФИО Студента</th>
	      <th>Email</th>
	      <th>Задание</th>
	      <th>Статус</th>
	    </tr>

	</thead>
	<tbody>
	<% @task_reports.each do |tr| %>
		<tr> 
			<td><%= tr.student.full_name %> </td>
			<td><%= tr.student.email %> </td>
			<td><%= tr.task.title %> </td>
			<td> <%= status_translate tr %> </td>
		<tr>
	<% end %>
	</tbody>
	</table>
<% end %>