
<%= render 'distant/layouts/sidebar' %>

<div class="student-form" >
<%= form_for @student, url: {controller: "zno/students" ,action: "update"} do |f| %>
	<%= f.label "Имя" %>  
    <%= f.text_field :first_name %>
	<%= f.label "Фамилия" %>  
    <%= f.text_field :last_name %>
    <%= f.label :email %>  
    <%= f.text_field :email %>
    <%= f.label "Телефон" %>  
    <%= f.text_field :phone %>
    <%= f.label "Домашний адрес" %>  
    <%= f.text_field :address %>
    <%= f.label "Школа" %>  
    <%= f.text_field :school %>
        <%= f.label "Skype" %>  
    <%= f.text_field :skype %>
    <%= f.label "Предметы" %>
    <div class = "subject_box" >
    <ul class="two-col-special">
        <% @subjects.each do |subject| %>
            <li>
                 <%= h subject.title -%>
                <%= check_box_tag 'subject_ids[]', subject.id -%> 
            </li>
        <% end %>
    </ul>
     </div>
    <%= f.submit "Сохранить" %>
<% end %>
<div>